body{
    background-color: rgb(29, 28, 28);
}

.btn-info{
    background-color: blueviolet;
}

.btn-info:hover{
    background-color: rgb(27, 212, 104);
    transform: scale(1.1);
}

.navbar{
    background-color: rgb(52, 57, 68);
}
